@tailwind base;
@tailwind components;
body{
    background-image: radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    @apply h-screen;
}
main{
    @apply p-8 md:pt-12;
}
header{
    @apply max-w-[700px] h-[118px]  md:h-[162px] border-4 border-header-outline rounded-2xl mx-auto md:py-5 md:px-8 p-5 flex justify-between items-center;
}
header img {
    @apply h-[70px] md:h-full 
}
.score-container{
    @apply h-full md:w-[160px] w-[80px] rounded-lg text-center bg-white p-3;
}
.score-container :nth-child(1){
    @apply text-score-text tracking-widest relative md:text-base text-xs -top-1 md:top-0;
}
.score-container :nth-child(2){
    @apply md:text-7xl text-5xl relative md:top-0 -top-2  text-dark-text font-bold;
}
.content{
    background-image: url('images/bg-pentagon.svg');
    @apply w-[500px] h-[500px] mx-auto bg-no-repeat bg-center relative mt-10;
}
.btn{
    @apply w-[150px] h-[150px] flex items-center justify-center rounded-full border-b-[7px] border-gray-600 border-opacity-50 absolute;
}
.btn-inner{
    @apply bg-white w-[80%] h-[80%] flex items-center justify-center rounded-full border-t-4 border-gray-400;
}
.btn-rock{
    background-image: linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    @apply  bottom-10 right-16;
}
.btn-paper{
    background-image: linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    @apply  top-32 right-4;
}
.btn-scissors{
    background-image: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
    @apply  top-2 right-44;
}
.btn-lizard{
    background-image: linear-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
    @apply  bottom-10 left-16;
}
.btn-spock{
    background-image: linear-gradient( hsl(189, 59%, 53%) , hsl(189, 58%, 57%));
    @apply  top-32 left-4;
}
@tailwind utilities;